*{
  margin: 0;
  padding: 0;
}
body {
  padding:40px 0;
  background-color: #004643;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.banner-image, .thumbnail {
  border-radius: 50%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;

}
h1 {
  color:#fffffe;
}
.links{
  background-color: #abd1c6;
  padding: 20px;
  border-radius: 30px;
  /* display: flex;
  gap: 20px;
  flex-direction: column; */
}
.link a {
  margin-left: 10px;
  color: #fffffe;
}
.social-icons a{
  color: #fffffe;
}
.items {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
  align-items: center;
  flex-grow: 1;
}
li img {
  padding-right: 10px;
}

.link {
  padding: 10px 20px;
  margin:20px;
  border-radius: 20px;
  background-color: #004643;
  display: flex;
  align-items: center;
  
}
a:hover {
  color: #abd1c6;
}
.social-icons a {
  padding-left: 10px;
}
